<!-- Aboutus Page -->

<!-- Header options-->
<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>فروعنا</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div #map id="map"></div>
  </ion-content>
