<!-- Ecommerce Product Page -->

<!-- Header -->
<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>منتجات التأمين</ion-title>
  </ion-navbar>
</ion-header>

<!-- Content -->
<ion-content id="products-v1">

   <!-- Load all products by category wise -->
   <div class="animated fadeInUp" *ngFor="let product of allProducts">
      <div *ngIf="categoryId == product.categoryId">
      <ion-card-header text-center>
         <span ion-text color="secondary">{{product.name}}</span>
      </ion-card-header>
      <img [src]="product.image" [alt]="product.name">
      <ion-card-content>
         <p>
            {{product.description}}
            <br>
            {{product.description2}}
            <br>
            {{product.description3}}
            <br>
            {{product.description4}}
            <br>
            {{product.description5}}
            <br>
            {{product.description6}}
         </p>
      </ion-card-content>
      </div>
    </div>
</ion-content>
