<!--
  Generated template for the PolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary" drag-content="false">
    <!-- <ion-title>ارسال مطالبة</ion-title> -->
    <ion-buttons end>
      <button ion-button (click)="Logout()">تسجيل الخروج&ensp;
        <i class="fa fa-lg fa-sign-out" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<!-- Content Options -->
<ion-content id="contactus-v1">
  <div class="stepwizard">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <button ion-button color="whatsapp" round icon-only>
          <ion-icon name="md-checkmark"></ion-icon>

        </button>
        <p>
          بيانات المطالبة
        </p>
      </div>
      <div class="stepwizard-step">
        <button ion-button color="whatsapp" round>2</button>
        <p>
          مستندات الحادث

        </p>
      </div>
    </div>
  </div>

  <div class="contact-header">
    <p class="line1">
      الرجاء إرفاق مستندات الحادث
    </p>
  </div>
  <div class="contact-header">
    <!--  <p class="line1">ارسال مطالبة</p> -->
  </div>
  <!-- CONTACT FORM -->
  <hr>
  <div class="contact-form animated fadeIn">
    <div style="text-align:center;">
      <p style="text-align:center;">
        صورة شهادة البحث
      </p>
      <button ion-button (click)="takePhoto1()" round *ngIf="buttonImage1">
        <ion-icon name="camera"></ion-icon>
      </button>
      <div class="block" col-12 *ngFor="let photo of photo1; let id = index">
        <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto1(id)"></ion-icon>
        <img [src]="photo" *ngIf="photo" style="width:120px;" />
      </div>
    </div>
    <div style="text-align:center;">
      <p style="text-align:center;">
        صورة رخصة القيادة
      </p>
      <button ion-button (click)="takePhoto2()" round *ngIf="buttonImage2">
        <ion-icon name="camera"></ion-icon>
      </button>
      <div class="block" col-12 *ngFor="let photo of photo2; let id = index">
        <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto2(id)"></ion-icon>
        <img [src]="photo2" *ngIf="photo2" style="width:120px;" />
      </div>
    </div>
    <div style="text-align:center;">
      <p style="text-align:center;">
        صورة البلاغ
      </p>
      <button ion-button (click)="takePhoto3()" round *ngIf="buttonImage3">
        <ion-icon name="camera"></ion-icon>
      </button>
      <div class="block" col-12 *ngFor="let photo of photo3; let id = index">
        <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto3(id)"></ion-icon>
        <img [src]="photo3" *ngIf="photo3" style="width:120px;" />
      </div>
    </div>
    <div style="text-align:center;">
      <p style="text-align:center;">
        صورة شهادة التأمين
      </p>
      <button ion-button (click)="takePhoto4()" round *ngIf="buttonImage4">
        <ion-icon name="camera"></ion-icon>
      </button>
      <div class="block" col-12 *ngFor="let photo of photo4; let id = index">
        <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto4(id)"></ion-icon>
        <img [src]="photo4" *ngIf="photo4" style="width:120px;" />
      </div>
    </div>
    <div style="text-align:center;">
      <p style="text-align:center;">
        صور أضرار الحادث
      </p>
      <ion-row>
        <ion-col>
          <button ion-button (click)="takePhoto5()" round *ngIf="buttonImage5">
            <ion-icon name="camera"></ion-icon>
          </button>
          <div class="block" col-12 *ngFor="let photo of photo5; let id = index">
            <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto5(id)"></ion-icon>
            <img [src]="photo5" *ngIf="photo5" style="width:120px;" />
          </div>
        </ion-col>
        <ion-col>
          <button ion-button (click)="takePhoto6()" round *ngIf="buttonImage6">
            <ion-icon name="camera"></ion-icon>
          </button>
          <div class="block" col-12 *ngFor="let photo of photo6; let id = index">
            <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto6(id)"></ion-icon>
            <img [src]="photo6" *ngIf="photo6" style="width:120px;" />
          </div>
        </ion-col>
      </ion-row>
      <br>  <br>  <br>
      <ion-row>
        <ion-col>
          <button ion-button (click)="takePhoto7()" round *ngIf="buttonImage7">
            <ion-icon name="camera"></ion-icon>
          </button>
          <div class="block" col-12 *ngFor="let photo of photo7; let id = index">
            <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto7(id)"></ion-icon>
            <img [src]="photo7" *ngIf="photo7" style="width:120px;" />
          </div>
        </ion-col><br>  <br>
        <ion-col>
          <button ion-button (click)="takePhoto8()" round *ngIf="buttonImage8">
            <ion-icon name="camera"></ion-icon>
          </button>
          <div class="block" col-12 *ngFor="let photo of photo8; let id = index">
            <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto8(id)"></ion-icon>
            <img [src]="photo8" *ngIf="photo8" style="width:120px;" />
          </div>
        </ion-col>
      </ion-row>
    </div>
    <br>  <br>  <br>  <br>  <br>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

      <button ion-button full type="submit">
        <ion-icon name="upload">ارسال</ion-icon>
      </button>

    </form>

  </div>
</ion-content>
