.toasty {
  background-color: #134885 !important;
}
#contactus-v1 {
  .stepwizard-step p {
    margin-top: 5px;
  }

  .stepwizard-row {
    display: table-row;
  }

  .stepwizard {
    padding-top: 10px;
    display: table;
    width: 100%;
    position: relative;
  }

  .stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
  }

  .stepwizard-row:before {
    top: 32px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
  }

  .stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  text-align: center;
  padding-top: 5%;
  .block {
    position: relative;
    .deleteIcon {
      position: absolute !important;
      color: #ffffff !important;
      margin-left: 80% !important;
    }
    .deleteIcon:before {
      font-size: 30px !important;
    }
  }
  .contact-header {
    .line1 { display:inline;
      color: tomato;
      font-size: 22px;
      font-weight: 600;
      padding-right: 5px;
    }
    .address {
      p {
        font-size: 14px;
        line-height: 0px;
      }
      .unstyled {
        list-style: none;
      }
    }
  }
  .contact-form {
    p {
      font-size: 20px;
    }
    form {
      ion-list {
        margin-bottom: 0px;
        p {
          font-size: 17px;
          text-align: right;
          padding-right: 11px;
          font-weight: 36px;
        }
        ion-grid {
          ion-row {
            ion-col {
              .block {
                position: relative;
                .deleteIcon {
                  position: absolute !important;
                  color: #ff0000 !important;
                  margin-left: 80% !important;
                }
                .deleteIcon:before {
                  font-size: 30px !important;
                }
              }
            }
          }
        }
        .item-input {
          ion-label {
            color: $menu-toolbar;
            margin-left: 10px;
          }
        }
        ion-item {
          padding-left: 0;
          .text-input-ios {
            padding: 12px;
          }
        }
        .buttons {
          margin-top: 5%;
        }
      }
    }
  }
}
