<!--
  Generated template for the PolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary" hideBackButton drag-content="false">
    <!--  <ion-title>ارسال مطالبة</ion-title> -->
    <ion-buttons end>
      <button ion-button (click)="Logout()">تسجيل الخروج&ensp;
        <i class="fa fa-lg fa-sign-out" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<!-- Content Options -->
<ion-content id="contactus-v1">
  <div class="stepwizard">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <button ion-button color="whatsapp" round>1</button>
        <p>
          بيانات المطالبة
        </p>
      </div>
      <div class="stepwizard-step">
        <button ion-button color="light" round>2</button>
        <p>
          مستندات الحادث

        </p>
      </div>
    </div>
  </div>
  <div class="contact-header">
    <br><br>
    <img src="assets/img/car-crash.jpg" style="width:55px; text-align:center; display:inline;" />
    <p class="line1">
      الرجاء إدخال بيانات المطالبة
    </p>
  </div>
  <div class="contact-header">
    <!--  <p class="line1">ارسال مطالبة</p> -->
  </div>
  <!-- CONTACT FORM -->
  <hr>
  <div class="contact-form animated fadeIn">

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

      <ion-list dir="rtl">
        <!-- Username -->
        <ion-item dir="rtl">
          <ion-label>تاريخ البلاغ</ion-label>
          <ion-datetime style="direction:ltr" displayFormat="MM/DD/YYYY" dir="rtl" [(ngModel)]="userInfo.myDate" formControlName="myDate"
            id="myDate"></ion-datetime>
        </ion-item>
        <span *ngIf="!isValid('myDate')" danger padding-left>الرجاء ادخال التاريخ</span>

        <ion-item text-align="right">

          <ion-input [(ngModel)]="userInfo.location" dir="rtl" formControlName="location" id="location" spellcheck="false" autocapitalize="off"
            class="ion-ios-locked-outline" rows="5" maxLength="500" type="text" placeholder="موقع الحادث">
          </ion-input>
        </ion-item>
        <span *ngIf="!isValid('location')" danger padding-left>خطأ في الإدخال</span>
        <ion-item text-align="right">

          <ion-input [(ngModel)]="userInfo.comment" dir="rtl" formControlName="comment" id="comment" spellcheck="false" autocapitalize="off"
            class="ion-ios-locked-outline" rows="5" maxLength="500" type="text" type="text" placeholder="رقم البلاغ">
          </ion-input>
        </ion-item>
        <span *ngIf="!isValid('location')" danger padding-left>خطأ في الإدخال</span>
        <!--  Buttons -->

        <button ion-button color="whatsapp" full type="submit" [disabled]="!myForm.valid">
          <ion-icon name="upload">التالي</ion-icon>
        </button>
      </ion-list>

    </form>
  </div>
</ion-content>
