<!-- Category Page -->

<!-- Header part -->
<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>منتجات التأمين</ion-title>
  </ion-navbar>
</ion-header>

<!-- Contents -->
<ion-content>
  <ion-card>
  <!--  <ion-card-content>
        تقدم النيلين للتأمين حزم شاملة من جميع منتجات وخدمات التأمين لعملائها المتميزيين، كما تساعد الشركة عملائها من المؤسسات والأفراد على حد سواء على تقديم أنواع مختلفة من التأمين مثل تأمين السيارات، التأمين البحري، التأمين الهندسي، تأمين الحرائق و الممتلكات، تأمين المسؤوليات و الحوادث العامة، تأمين الحوادث الشخصية، التأمين على السفر، التأمين الصحي. لا تتردد في الإتصال بنا للحصول على أي من خدمات التأمين.
    </ion-card-content>  -->
  </ion-card>
  <!-- Grid View of all categories -->
   <ion-grid class="category-v1" no-padding style="direction:ltr">
      <ion-row wrap no-padding>
         <ion-col no-padding col-6 *ngFor="let category of allCategories" class='cell-{{category.id}}'>
            <img class="animated bounceInRight" [src]="category.image" (click)="gotoProductsPage(category.id)">
            <p class="animated bounceInLeft" ion-text color="secondary">{{category.name}}</p>
         </ion-col>
      </ion-row>
   </ion-grid>
</ion-content>
