<!-- Registration Page -->

<!-- Header Options -->
<ion-header>
  <ion-navbar color="secondary" hideBackButton>
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-right>الرئيسية</ion-title>
  </ion-navbar>
</ion-header>
<!-- Content Options -->
<ion-content id="component-v1" class="animated fadein">
  <div class="headerr">
    <!-- <img src="assets/img/nilein-logo-trans.PNG" width="150px;" class="animated fadein" /> -->
  </div>
  <div class="headerrr">
    <ion-row>
      <ion-col style="text-align:right; padding-top:15px; padding-right:10px;">
        <p>
          بنقيف معاك ...
        </p>
      </ion-col>
      <ion-col style="text-align:left; padding-top:9px; padding-left:10px;">
          <button ion-button (click)="callIT('tel:1333')">
              <p>1333</p>
              <ion-icon name="md-call"></ion-icon>
          </button>

      </ion-col>
    </ion-row>
  </div>
  <ion-grid class="animated zoomIn">
    <ion-row>
      <ion-col>
        <ion-card class="btn btn-white btn-lg btn3d" (click)="gotoTargetComponent('AboutUs')">
          <ion-icon name="md-alert"></ion-icon>
          <p ion-text>من نحن</p>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="btn btn-white btn-lg btn3d" (click)="gotoTargetComponent('Category')">
          <ion-icon name="md-basket"></ion-icon>
          <p ion-text>منتجاتنا</p>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="btn btn-white btn-lg btn3d" (click)="gotoTargetComponent('claims')">
          <ion-icon name="md-clipboard"></ion-icon>
          <p ion-text>المطالبات</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="btn btn-white btn-lg btn3d" (click)="gotoTargetComponent('Location')">
          <ion-icon name="md-map"></ion-icon>
          <p ion-text>فروعنا</p>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="btn btn-white btn-lg btn3d" (click)="gotoTargetComponent('ContactUs')">
          <ion-icon name="md-at"></ion-icon>
          <p ion-text>تواصل معنا</p>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="btn btn-white btn-lg btn3d" (click)="gotoTargetComponent('Complaints')">
          <ion-icon name="md-mail"></ion-icon>
          <p ion-text>الشكاوي
            <br> و المقترحات</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="btn btn-white btn-lg btn3d" (click)="gotoTargetComponent('login')">

          <p ion-text>
            <ion-icon name="md-car" aria-hidden="true" style="color: #c7dcff; font-size: 2.0em; padding-top:13px;"></ion-icon>
            <label style="font-size: 1.1em; padding-right:5px;">
              مطالبات السيارات
            </label>
          </p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <!--  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
  </div> -->

  <!-- Profile Top body of user photo, name and title
  <ion-slides id="slider" pager="true" zoom="true" loop autoplay="5000" style="direction:ltr"  no-padding>
    <ion-slide>
        <img src="assets/img/1s.jpeg" style="width:100%; background-size:cover;">
    </ion-slide>
    <ion-slide class="profile-part2">
        <img src="assets/img/2s.jpeg" style="width:100%; background-size:cover;">
    </ion-slide>
    <ion-slide class="profile-part3">
        <img src="assets/img/3s.jpg" style="width:100%; background-size:cover;">
    </ion-slide>
    <ion-slide class="profile-part3">
        <img src="assets/img/4s.jpeg" style="width:100%; background-size:cover;">
    </ion-slide>
  </ion-slides> -->
  <!--  <div text-center class="logo">
 <img src="assets/img/Elnilein Logo.png" width=130px; style="padding:7px;">
 </div> -->
  <!--
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-6 class="animated fadeIn col2" (click)="gotoTargetComponent('AboutUs')">
        <ion-icon name="md-star"></ion-icon>
        <p ion-text>من نحن</p>
      </ion-col>
      <ion-col col-6 class="animated fadeIn col1" (click)="gotoTargetComponent('Category')">
        <ion-icon name="md-checkbox"></ion-icon>
        <p ion-text>منتجاتنا</p>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-6 class="animated fadeIn col2" (click)="gotoTargetComponent('claims')">
        <ion-icon name="md-paper"></ion-icon>
        <p ion-text>المطالبات</p>
      </ion-col>
      <ion-col col-6 class="animated fadeIn col1" (click)="gotoTargetComponent('Complaints')">
        <ion-icon name="information-circle"></ion-icon>
        <p ion-text>الشكاوي و المقترحات</p>
      </ion-col>



    </ion-row>
    <ion-row>
      <ion-col col-6 class="animated fadeIn col1" (click)="gotoTargetComponent('ContactUs')">
        <ion-icon name="paper-plane"></ion-icon>
        <p ion-text>تواصل معنا</p>
      </ion-col>
      <ion-col col-6 class="animated fadeIn col2" (click)="gotoTargetComponent('Location')">
        <ion-icon name="md-map"></ion-icon>
        <p ion-text>فروعنا</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="animated fadeIn col2" (click)="gotoTargetComponent('login')">
        <ion-icon name="ios-car"></ion-icon>
        <p ion-text>مطالبات السيارات</p>
      </ion-col>
    </ion-row>
  </ion-grid>
-->
  <ion-fab right bottom>
    <button ion-fab color="whatsapp" (click)="chat()">
        <ion-icon name="md-chatboxes"></ion-icon>
    </button>
  </ion-fab>

 </ion-content>
 <!--<ion-footer>
  <ion-toolbar>
    <button ion-button block color="secondary">الدردشة</button>
  </ion-toolbar>
</ion-footer>-->
