#component-v1 {
  // background-image: url(../assets/img/back6.jpg);
  // background-size: cover;
background-color: rgb(255, 255, 255);
ion-fab{
  width: 300px !important;

}
  .headerr {
    background-image: url(../assets/img/backxxx.PNG);
    background-size: cover;
    width: 100%;
    height: 200px;
    text-align: center;
    img {
      text-align: left;
      float: left;
      width: 86px;
    }
  }
  .headerrr {
    background-color: rgb(9, 26, 121) !important;
    color: white;
    font-size: 1.4em;
      ion-row {
        ion-col {
          p{
            display: inline;
            padding: 0;
          }
          font-size: 20px;
          ion-icon{
            display: inline;
            font-size: 20px;
            padding: 0;
          }
        }
      }
  }
  ion-grid {
    ion-row {
      ion-col {
        padding-top: 10px;
        ion-card {
          background-color: rgb(9, 26, 121) !important;
          border-radius: 30px;
          text-align: center;
          height: 100%;
          box-shadow: 0 10px 20px rgba(124, 124, 124, 0.19),
            0 6px 6px rgba(97, 97, 97, 0.23);
          ion-icon {
            color: #c7dcff;
            font-size: 3.0em;
            line-height: 0.9;
          }
          .NewIcons{
            color: #85b4ff;
            font-size: 3.0em;
            line-height: 0.9;
          }
          p {
            color: #ffffff;
            padding-top: 5px;
            font-size: 1.3em;
            line-height: 1.2;
          }
        }
      }
      .col1 {
        border: 1px ridge rgb(0, 0, 0);
        text-align: center;
        ion-icon {
          padding: 17px;
          color: rgb(0, 0, 0);
          font-size: 2.5em;
          line-height: 0.5;
        }
        p {
          line-height: 0.2;
          color: rgb(0, 0, 0);
          font-size: 18px;
          font-weight: 10px;
        }
      }
      .col2 {
        border: 1px ridge rgb(0, 0, 0);
        text-align: center;
        ion-icon {
          padding: 17px;
          color: rgb(0, 0, 0);
          font-size: 2.5em;
          line-height: 0.5;
        }
        p {
          line-height: 0.2;
          color: rgb(0, 0, 0);
          font-size: 18px;
          font-weight: 10px;
        }
      }
    }
  }

  .btn3d {
    position: relative;
    top: -6px;
    border: 0;
    transition: all 40ms linear;
  }
  .btn3d:active:focus,
  .btn3d:focus:hover,
  .btn3d:focus {
    -moz-outline-style: none;
    outline: medium none;
  }
  .btn3d:active,
  .btn3d.active {
    top: 2px;
  }
  .btn3d.btn-white {
    color: #666666;
    box-shadow: 0 10px 20px rgba(124, 124, 124, 0.19),
      0 6px 6px rgba(97, 97, 97, 0.23);
    background-color: #fff;
  }
  .btn3d.btn-white:active,
  .btn3d.btn-white.active {
    color: #666666;
    box-shadow: 0 0 0 1px #ebebeb inset,
      0 0 0 1px rgba(255, 255, 255, 0.15) inset,
      0 1px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .btn3d.btn-default {
    color: #666666;
    box-shadow: 0 0 0 1px #ebebeb inset,
      0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 8px 0 0 #bebebe,
      0 8px 8px 1px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
  }
  .btn3d.btn-default:active,
  .btn3d.btn-default.active {
    color: #666666;
    box-shadow: 0 0 0 1px #ebebeb inset,
      0 0 0 1px rgba(255, 255, 255, 0.15) inset,
      0 1px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  .btn3d.btn-primary {
    box-shadow: 0 0 0 1px #417fbd inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #4d5bbe,
      0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #4274d7;
  }
  .btn3d.btn-primary:active,
  .btn3d.btn-primary.active {
    box-shadow: 0 0 0 1px #417fbd inset,
      0 0 0 1px rgba(255, 255, 255, 0.15) inset,
      0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #4274d7;
  }
  .btn3d.btn-success {
    box-shadow: 0 0 0 1px #31c300 inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #5eb924,
      0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #78d739;
  }
  .btn3d.btn-success:active,
  .btn3d.btn-success.active {
    box-shadow: 0 0 0 1px #30cd00 inset,
      0 0 0 1px rgba(255, 255, 255, 0.15) inset,
      0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #78d739;
  }
  .btn3d.btn-info {
    box-shadow: 0 0 0 1px #00a5c3 inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #348fd2,
      0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #39b3d7;
  }
  .btn3d.btn-info:active,
  .btn3d.btn-info.active {
    box-shadow: 0 0 0 1px #00a5c3 inset,
      0 0 0 1px rgba(255, 255, 255, 0.15) inset,
      0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #39b3d7;
  }
  .btn3d.btn-warning {
    box-shadow: 0 0 0 1px #d79a47 inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #d79a34,
      0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #feaf20;
  }
  .btn3d.btn-warning:active,
  .btn3d.btn-warning.active {
    box-shadow: 0 0 0 1px #d79a47 inset,
      0 0 0 1px rgba(255, 255, 255, 0.15) inset,
      0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #feaf20;
  }
  .btn3d.btn-danger {
    box-shadow: 0 0 0 1px #ffffff inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 rgb(230, 230, 230),
      0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
  }
  .btn3d.btn-danger:active,
  .btn3d.btn-danger.active {
    box-shadow: 0 0 0 1px #ffffff inset,
      0 0 0 1px rgba(255, 255, 255, 0.15) inset,
      0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
  }
  .btn3d.btn-magick {
    color: #fff;
    box-shadow: 0 0 0 1px #9a00cd inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #9823d5,
      0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #bb39d7;
  }
  .btn3d.btn-magick:active,
  .btn3d.btn-magick.active {
    box-shadow: 0 0 0 1px #9a00cd inset,
      0 0 0 1px rgba(255, 255, 255, 0.15) inset,
      0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #bb39d7;
  }
  .splash-bg {
    position: relative;
    background: url("../assets/img/chicken.png") no-repeat transparent;
    background-size: cover;
    height: 45%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  ion-icon {
    padding: 10px;
    font-size: 1.7em;
  }
  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url("../assets/img/chicken.png") repeat transparent;
    background-size: 100%;
    background-color: #fff;
    border-radius: 80px 80px 0px 0px;
    width: 128px;
    height: 128px;
  }
  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  }
}
