<!--
  Generated template for the ClaimsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>قسم المطالبات</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <!-- <div text-center>
    <p>
      هذا القسم يعتبر واجهة لكل شركات التأمين وهو يعنى بمطالبة المؤمن له للمؤمن بالوفاء بالتزاماتة تجاه تعويضه عن الخسارة والضرر
      اللاحقيين بالاموال المؤمنة بموجب الوثيقة نتيجة لحادث يشمله التأمين.
      <br> ويتم التعويض باسرع وقت ممكن متى ما اكمل المؤمن له المستندات المؤيده لمطالبته .
    </p>
  </div> -->
  <ion-card>


      <ion-list (click)="ToggleAccordion()">
        <ion-item color="secondary">
          <button ion-button clear small icon-only item-left>
            <ion-icon color="light" [name]="icon"></ion-icon>
          </button>
          <p>قسم تأميــن السيارات ( المستندات المطلوبة )</p>
        </ion-item>
      </ion-list>

    <ion-card-content #c1>
      <p>1- تقرير الشرطة عن الحادث بما فى ذلك اورنيك ( 8 ) فى حالة وجود إصابات لركاب مشمولون بشهادة التأمين.
        <br>2- رخصة القيادة سارية المفعول.
        <br>3- فواتير من ثلاثة جهات مختلفة للاسبيرات والصيانة.
        <br>4- فى حالة وجود متهم ثالث تسبب فى الحادث مطلوب شهاة تأمين سيارتة سارية المفعول عن الحادث.
        <br>5- تقرير المهندس المعتمد من هيئة الرقابة على التأمين بترخيص سارى المفعول.
      </p>
    </ion-card-content>

  </ion-card>

  <ion-card>

      <ion-list (click)="ToggleAccordion2()">
        <ion-item color="secondary">
          <button ion-button clear small icon-only item-left>
            <ion-icon color="light" [name]="icon2"></ion-icon>
          </button>
          <p>قسم الحريق و الحوادث المتنوعة ( المستندات المطلوبة )</p>
        </ion-item>
      </ion-list>

    <ion-card-content #c2>
      <p>
        الحريق :

        <br>1-
         وثيقة التأمين ساية المفعول.
        <br> 2-
        تقرير شرطة المطافى.
        <br>3-
         تقرير الدفاع المدنى.
        <br> 4-
        التقرير النهائى لخبير التسوية الذى تعينة الشركة والذى يحمل ترخيص من هئية الرقابة على التأمين سارى المفعول.
        <br>5-
         إصــــابات العمـــال :
        <br>6-
         وثيقة التأمين ساية المفعول.
        <br> 7-
        تقرير الطبيب عن الحادث.
        <br> 8-
        تقرير القمسيون الطبى عن نسبة العجز.
      </p>
    </ion-card-content>

  </ion-card>


  <ion-card>

      <ion-list (click)="ToggleAccordion3()">
        <ion-item color="secondary">
          <button ion-button clear small icon-only item-left>
            <ion-icon color="light" [name]="icon3"></ion-icon>
          </button>
          <p>
            التأمين البحري ( المستندات المطلوبة )
          </p>
        </ion-item>
      </ion-list>

    <ion-card-content #c3>
      <p>1-
        شهـادة التأمين سارية المفعول.
        <br>2-
        وثيقة النقل Bill of lading.
        <br> 3-
        فواتير الاســتيراد.
        <br>4-
         تقرير خبير المسح من أحد الخبراء الذين يحملون رخصة سارية المفعول من هئية الرقابة على التأمين.
        <br>5-
         المكاتبات المتبادله مع وكيل الباخرة عن مسئوليتة عن التلف والخساره الى حدثت للشحنة وردهم النهائى.
        <br> 6-
        إذن تسليم فى حالة فقدان أجزاء كاملة من مكونات الشحنة Delivery order.
      </p>
    </ion-card-content>

  </ion-card>


  <ion-card>

      <ion-list (click)="ToggleAccordion4()">
        <ion-item color="secondary">
          <button ion-button clear small icon-only item-left>
            <ion-icon color="light" [name]="icon4"></ion-icon>
          </button>
          <p>
            التأمين البري ( المستندات المطلوبة )
          </p>
        </ion-item>
      </ion-list>

    <ion-card-content #c4>
      <p>1-
        شهـادة التأمين سارية المفعول.
        <br>2-
        منفستو الشحن.
        <br>3-
         تقرير عن التلف والخسارة التي حدثت من الشرطة إذا كان بسبب انقلاب/تصادم/حريق وسيلة الترحيل ومن إدارة السكة حديد في
        حالة خروج القطار/ العربات التي تحمل البضاعة عن خط السكة حديد وانقلابها.
        <br>4-
         تقرير خبير التسوية المعتمد من هئية الرقابة على التأمين برخصة سارية المفعول عن التلف/الخسارة التى نتجت عن الحادث.
        <br>5-
         تحمل ناقل البضاعة المسئولية كتابة عن التلف / الخسارة التى حدثت للبضاعة.
      </p>
    </ion-card-content>

  </ion-card>
</ion-content>
