// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";
$fab-size: 60px;

ion-loading {
  .loading-wrapper {
    background-color: white !important;
    justify-content: center !important;
    text-align: center !important;
  }
}
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: rgb(9, 26, 121),
  secondary: #091a79,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  navbarColor: #006ce7,
  white: #ffffff,
  tomato: #d14800,
  whatsapp: rgb(25, 160, 65),
  ash: #eceaea,
  settled: #00ff00,
  active: #fbff00
);
// SideMenu Customs style
$menu-toolbar: #134885;
$menu-body: #222;
// Alert box custom style
$alert-ios-input-padding: 10px;
$alert-ios-button-text-color: #7151d6;
// Background Colors
$background-main-color: #134885;
$background-secondary-color: #a3e03d;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
