// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
html[dir="rtl"] {

  .back-button-icon.icon-md.back-button-icon-md.ion-md-arrow-back {
    transform: rotate(180deg);
  }
  .back-button-icon.icon-ios.back-button-icon-ios.ion-ios-arrow-back {
    transform: rotate(180deg);
    padding: 0 5px;
  }
}
.menu-inner {
  ion-toolbar {
    img {
      padding-top: 4px;
      width: 100px;
    }
  }
  .toolbar-background {
    background-color: transparent !important;
  }
  ion-content {
    background-image: url("../assets/img/SideBg.jpg");
    background-size: cover;
    .item {
      font-size: 18px;
      padding-right: 80px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.084) !important;
      background-color: transparent !important;
    }
    .item:hover {
      background-color: #0f2b49 !important;
      transition: background-color 1s ease;
    }
  }
}
// For 3d animations
ion-menu[type='3d'],
ion-menu[type='3d-open'],
ion-menu[type='3d-skew'],
ion-menu[type='3d-fall-down'],
ion-menu[type='3d-float-up'],
ion-menu[type='3d-scale-back'],
ion-menu[type='3d-scale-up'],
ion-menu[type='3d-rotate-out'],
ion-menu[type='3d-reverse-slide'],
ion-menu[type='3d-content-down'] {
    &.show-menu {
        .menu-inner {
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
}

ion-menu[type='3d-rotate-out'].show-menu .menu-inner {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

ion-menu[type='3d-scale-back'] {
    .show-backdrop {
        display: block;
    }
}

.menu-content-3d,
.menu-content-3d-open,
.menu-content-3d-skew,
.menu-content-3d-fall-down,
.menu-content-3d-float-up,
.menu-content-3d-scale-back,
.menu-content-3d-scale-up,
.menu-content-3d-rotate-out,
.menu-content-3d-reverse-slide,
.menu-content-3d-content-down {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

// Full with for '3d' sidemenu
// You can make it permanent by set up $menu-width in variables.scss
.fullWidthMenu {
    .menu-inner {
        width: 100% !important;
    }
}
