<ion-tabs #myTabs>
    <ion-tab [root]="policyRoot" tabTitle="معلوماتي" tabIcon="md-person"></ion-tab>
    <ion-tab [root]="newClaimRoot" tabTitle="ارسال مطالبة" tabIcon="car"></ion-tab>
    <ion-tab [root]="userClaimRoot" tabTitle="المطالبات" tabIcon="ios-paper-outline"></ion-tab>
    <ion-tab (ionSelect)="GoToHome()" tabTitle="الرئيسية" tabIcon="md-home"></ion-tab>
</ion-tabs>
