<!--
  Generated template for the PolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary" hideBackButton drag-content="false">
    <ion-title>المطالبات</ion-title>
    <ion-buttons end>
      <button ion-button (click)="Logout()">تسجيل الخروج&ensp;
        <i class="fa fa-lg fa-sign-out" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<!-- Content Options -->
<ion-content id="contactus-v1">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Segment (Start)-->
  <!-- Segment for more details of about us. Here, Added three portan design, developmemt and support -->

  <!-- Segment Header -->
  <div padding>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="design">
        مطالباتي
      </ion-segment-button>
      <ion-segment-button value="development">
        مطالبات قيد الإجراء
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Segment Body -->
  <div [ngSwitch]="segment">

    <!-- Design Portion -->
    <div *ngSwitchCase="'design'">
      <!--    <ion-card-header>
          <ion-icon name="flower"></ion-icon>
          <br> المصداقية
        </ion-card-header>-->
      <div *ngIf="!checkData">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p class="line1">لا توجد مطالبات</p>
      </div>

      <div *ngIf="checkData">
        <ion-card *ngFor="let claim of claims">
          <br>
          <ion-badge [ngStyle]="{'background-color': proportion === 'active' ? '#0e4483' : '#0e4483'}">
            <strong>{{claim.StatusArabic}}</strong>
          </ion-badge>
          <br>
          <br>
          <table class="animated fadeIn">
            <tr>
              <td>رقم المطالبة</td>
              <td>{{claim.ClaimNo}}</td>
            </tr>
            <tr style="background-color:rgb(235, 235, 235);">
              <td>تكلفة المطالبة</td>
              <td>SDG {{claim.ClaimAmount}}</td>
            </tr>
            <tr>
              <tr>
                <td>تاريخ الحادث</td>
                <td>{{claim.DateOfNotification | date: 'yyyy-MM-dd'}}</td>
              </tr>
              <tr style="background-color:rgb(235, 235, 235);">
                <td>رقم الوثيقة</td>
                <td>{{claim.PolicyNo}}</td>
              </tr>
          </table>
          <br>
        </ion-card>
      </div>

    </div>

    <!-- Development Portion -->
    <div *ngSwitchCase="'development'">
      <!--     <ion-card-header>
          <ion-icon name="md-checkmark-circle"></ion-icon>
          <br> الإتقان
        </ion-card-header> -->
      <div *ngIf="!checkData1">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p class="line1"> لا توجد مطالبات قيد الإجراء</p>
      </div>

      <div *ngIf="checkData1">
        <ion-card *ngFor="let pendingclaim of pendingclaims">
          <br>
          <table class="animated fadeIn">
            <tr>
              <td>تاريخ الحادث</td>
              <td>{{pendingclaim.AccidentDate | date: 'yyyy-MM-dd'}}</td>
            </tr>
            <tr style="background-color:rgb(235, 235, 235);">
              <td>موقع الحادث</td>
              <td>{{pendingclaim.AccidentLocation}}</td>
            </tr>
            <tr>
              <tr>
                <td>رقم البلاغ</td>
                <td>{{pendingclaim.AccidentDetails}}</td>
              </tr>
              <tr>
                <tr style="background-color:rgb(235, 235, 235);">
                  <td>تاريخ الحادث</td>
                  <td>{{pendingclaim.SubmittedOn | date: 'yyyy-MM-dd'}}</td>
                </tr>
          </table>
          <br>
        </ion-card>
      </div>
    </div>
    <hr>
  </div>
  <!-- Segment (End) -->



</ion-content>
