<!-- ContactUs Page -->

<!-- Header Options -->
<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>الشكاوي و المقترحات</ion-title>
  </ion-navbar>
</ion-header>

<!-- Content Options -->
<ion-content id="contactus-v1">
  <br><br>
  <div class="contact-header">
    <p class="line1">نستقبل جميع شكاويكم في اي وقت</p>
  </div>
  <br>
  <!-- CONTACT FORM -->
  <hr>
  <div class="contact-form animated zoomIn">
    <p>للشكاوي و المقترحات</p>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <ion-list>
        <!-- Username -->
        <ion-item>
          <ion-label>
            <ion-icon name="md-person"></ion-icon>
          </ion-label>
          <ion-input class="ion-ios-locked-outline" dir="rtl" [(ngModel)]="userInfo.name" formControlName="name" id="name" spellcheck="false"
            autocapitalize="off" type="text" placeholder="الإسم"></ion-input>
        </ion-item>
        <!-- Email -->
        <ion-item>
          <ion-label>
            <ion-icon name="md-mail"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="userInfo.email" dir="rtl" formControlName="email" id="email" spellcheck="false" autocapitalize="off" class="ion-ios-locked-outline"
            type="email" placeholder="البريد الإلكتروني"></ion-input>
        </ion-item>
        <span *ngIf="!isValid('email')" danger padding-left>خطأ في الإدخال</span>
        <!-- Messages -->
        <ion-item>
          <ion-label>
            <ion-icon name="call"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="userInfo.phone" dir="rtl" formControlName="phone" id="phone" class="ion-ios-locked-outline" type="text" placeholder="رقم الهاتف"></ion-input>
        </ion-item>
        <span *ngIf="!isValid('phone')" danger padding-left>خطأ في الإدخال</span>
        <ion-item>
          <ion-label>
            <ion-icon name="md-document"></ion-icon>
          </ion-label>
          <ion-textarea [(ngModel)]="userInfo.comment" dir="rtl" formControlName="comment" id="comment" spellcheck="false" autocapitalize="off"
            class="ion-ios-locked-outline" rows="5" maxLength="500" type="text" type="text" placeholder="الملاحظات">
          </ion-textarea>
        </ion-item>
        <span *ngIf="!isValid('comment')" danger padding-left>خطأ في الإدخال</span>
        <!-- Buttons -->
        <div class="buttons animated fadeInUp">
          <button ion-button type="submit" [disabled]="!myForm.valid" color="secondary" block>ارسال</button>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
