<!--
  Generated template for the PolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary" hideBackButton>
    <ion-title start>معلوماتي</ion-title>
    <ion-buttons end>
      <button ion-button (click)="Logout()">تسجيل الخروج&ensp;
        <i class="fa fa-lg fa-sign-out" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content>
  <table class="animated fadeIn">
    <tr>
      <td>رقم الوثيقة</td>
      <td>{{PolicyNo}}</td>
    </tr>
    <tr style="background-color:rgb(235, 235, 235);">
      <td>حامل الوثيقة</td>
      <td>{{PolicyHolder}}</td>
    </tr>
    <tr>
      <td>فترة الصلاحية</td>
      <td>
        <span>من {{PeriodFrom | date: 'yyyy-MM-dd'}}</span>
        <span>الى {{PeriodTo | date: 'yyyy-MM-dd'}}</span>
      </td>
    </tr>
    <tr style="background-color:rgb(235, 235, 235);">
      <td>رقم اللوحة</td>
      <td>{{PlateNo}}</td>
    </tr>
  </table>
</ion-content>
